body {
    background-color: #1e1e1e;
}

input[type="color"] {
    opacity: 0;
    display: block;
    min-height: 40px;
    width: 100%;
    height: 100%;
    border: none;
}

#color-picker-wrapper {
    float: left;
}

.vertical-slider-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.vertical-slider {
    margin: 0;
    padding: 0;
    transform: rotate(-90deg);
    position: absolute;
}
